.toggle-button__wrapper
  input.toggle-button__radio(
    type="radio"
    id="language-selector-1"
    name="language-selector"
    checked
  )
  label(
    for="language-selector-1"
  ).toggle-button__label English
  input.toggle-button__radio(
    type="radio"
    id="language-selector-2"
    name="language-selector"
  )
  label(
    for="language-selector-2"
  ).toggle-button__label Română
  .toggle-button__slider
