.review__wrapper
  each review in data.reviews
    .review
      .review__avatar
      a.review__name(
        href=`http://facebook.com/${review.userId}/posts/${review.postId}`
        target="_blank"
        title=`Read the original review of ${review.name}`
      )=review.name
      .review__rating=review.rating
        | &#9733;
      if review.text
        .review__text=review.text
      .review__time=review.time