mixin printContent(dataList)
  //- pre=JSON.stringify(dataList)
  each data in dataList
    if data.type == 'h2'
      h2=data.text[lang]
    if data.type == 'h3'
      h3=data.text[lang]
    if data.type == 'h4'
      h4=data.text[lang]
    if data.type == 'a'
      a(
        class=`button__${data.button}`
        href=data.link
        rel=data.rel
        title=data.text[lang]
        target="_blank"
      )=data.text[lang]
    else if data.type == 'p'
      each p in data.text[lang]
        p!=p
    else if data.type == 'ol'
      ol
        each li in data.text[lang]
          li!=li
    else if data.type == 'ul'
      ul
        each li in data.text[lang]
          li!=li
    else if data.type == 'portrait-image' || data.type == 'student-picture'
      div(
        class=data.type
        style=`background-image: url(/asset/image/${data.path})`
      )
      h3=data.alt[lang]
      .portrait-info
        each p in data.text[lang]
          p!=p

mixin inputFrame(optionList)
  -
    const {checked = false, id = 0} = optionList || {}
  input(
    type="radio"
    name="frame"
    id=id
    class="content-toggle"
    checked=checked
  )
