mixin printContent(dataList)
  //- pre=JSON.stringify(dataList)
  each data in dataList
    if data.type == 'h2'
      h2=data.text[lang]
    if data.type == 'h3'
      h3=data.text[lang]
    else if data.type == 'p'
      each p in data.text[lang]
        p!=p
    else if data.type == 'ol'
      ol
        each li in data.text[lang]
          li!=li
    else if data.type == 'ul'
      ul
        each li in data.text[lang]
          li!=li

mixin inputFrame(optionList)
  -
    const {checked = false, id = 0} = optionList || {}
  input(
    type="radio"
    name="frame"
    id=id
    class="content-toggle"
    checked=checked
  )
