-
  //- on the menu list collection of objects like the next one
  //- {
  //- "label": {
  //-     "en": "Reviews",
  //-     "ro": "Referințe"
  //- },
  //- "icon": "reviews"
  //- },
  const getSectionTitle = iconToFind => content['menu-list']
    //- only keep the item that has the icon property value same as iconToFind
    .filter(menuItem => menuItem.icon === iconToFind)
    //- grab the first element of the filtered array, should be only one anyway
    //- and return the lang evaluated property of the label of that item
    .reduce(item => item).label[lang]

.content

  include ../menu/menu

  #reviews.reviews
    h1= getSectionTitle('reviews')
    //- include the   review.pug file
    include ../review/review

  #who-made-it.who-made-it
    h1= getSectionTitle('who-made-it')
    +printContent(data.who)

  #students.students
    h1= getSectionTitle('students')
    +printContent(data.students)

  #opportunities.opportunities
    h1= getSectionTitle('opportunities')
    +printContent(data.opportunities)

  #zero-to-one.zero-to-one
    h1= getSectionTitle('zero-to-one')
    +printContent(data['zero-to-one'])

  #one-to-hero.one-to-hero
    h1= getSectionTitle('one-to-hero')

  #chat.chat
    h1= getSectionTitle('chat')
    +printContent(data.chat)

  #youtube.youtube
    h1= getSectionTitle('youtube')
    +printContent(data.youtube)

  #faq.faq
    h1= getSectionTitle('faq')

  #hired.hired
    //- include ../toggle-button/toggle-button
    h1!= website.title[lang]
    +printContent(data.hired)
