.qustion__list
  each item, anAwesomeKey in data.question
    label(
      for=`my-awesome-id-${anAwesomeKey}`
    ).question__item= item.question[lang]

input(
  type="radio"
  name="tra-la-la"
  id="answer__list-toggle"
  checked
)
.answer__list
  each item, key in data.question
    input(
      type="radio"
      name="tra-la-la"
      id=`my-awesome-id-${key}`
    )
    .answer__title-wrapper
      .question__item= item.question[lang]
      label(
        for="answer__list-toggle"
      ).answer__close &times;
    .answer__item= item.answer[lang]
