doctype html
- 
  const { lang } = config;
  const { website, content } = data.content;
html(lang=lang)
  head
    title= website.title[lang].replace('<br>', ' ')
    meta(charset="utf-8")
    meta(content= website.description[lang] name="description")
    meta(
      name="viewport" 
      content="initial-scale=1.0"
    )
    //- this checks to see the the "embed" property is set to "true"
    //- in the package.json file
    if config.entry.css.embed
      link(rel="stylesheet" href=`${embedPath}` inline)
  body
    include _component/config/mixin
    include _component/content/content

if config.entry.css.external
  link(rel="stylesheet", href=`${baseUrl}/style.css`)
